
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h4, h5 {
  color: #ff6f00;
}

/*work around to fix materialize's non-function .browser-default class*/
.full-list ul:not(.browser-default) {
	padding-left: 30px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.full-list ul:not(.browser-default) li {
    list-style-type: disc;
}

.frameBackground {
  background-color: #00838f;
  height: 1rem;
}

.header {
  background-color: #c5e1a5;
}

.banner {
  color: white;
}

.tagline {
  color: white;
  margin-right: 15px;
  /*margin-top: 15px;*/
  font-size: 18px;
}

.dropdown-button {
  margin-bottom: 15px;
  display: block;
  text-align: left;
  padding: 0 .5rem
}

.logo {
  width: 100px;
  margin-left: 30px;
}

.logo footer {
  margin-top: 25px;

}

.chips {
  padding-top: 10px;
}


#map {
   width: 100%;
   height: 700px;
 }

.infoWindowHeader a {
  color: #ff6f00;
  font-weight: 700;
}

 #col {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
